<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="img/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %} ">
    {% load django_htmx %}

</head>

<body>
{% block content %}
    <link rel="shortcut icon" type="img/png" href="{% static 'img/favicon.ico' %}">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col form-control">
                <img src="{% static '/img/logo_principal_3.png' %}" width="200" height=200" class="rounded mx-auto d-block"
                     alt="...">
                <div class="form-control-plaintext">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-success " type="submit"  value="Cambiar Contraseña"/>
                    </form>

                    <br><a class="btn btn-danger " href = {% url 'menu_sistemas' %} > Cancelar </a></br>

                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>





{% endblock %}
<script src="https://unpkg.com/htmx.org@1.8.5"></script>
{% django_htmx_script %}
{# or however you include htmx #}
{% load static %}
<script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dist/js/dialog.js' %}"></script>
{% load static %}
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>

</body>

</html>