{% extends "menu.html" %}


{% block content %}

    <h1> ESTA ES MI PANTALLA DE CONSULTA DE USUARIO </h1>

    <table class="table table-dark table-striped table-bordered table-hover">
        <thead>

        <th>Usuario</th>
        <th>Departamento</th>
        <th>Modificar</th>
        <th>Eliminar</th>
        </thead>
        <tbody>


        {% for usuario in lista_usuarios %}
            <tr>

                <td> {{ usuario.username }} </td>
                <td> {{ usuario.departamento }} </td>
                <td><a href="{% url 'modificar_usuario' usuario.id %}"> ... </a></td>
                <td><a href="{% url 'eliminar_usuario' usuario.id %}"> ... </a></td>

            </tr>
        {% endfor %}

        </tbody>

    </table>

{% endblock %}



