{% extends 'base_login.html' %}
{% load static %}
{% block content %}
    <div class="container ">
  <div class="row">
    <div class="col">
    </div>
    <div class="col form-control">
        <img src="{% static '/img/LOGOEPMAPAS.png' %}" class="rounded mx-auto d-block" width="200" height="200" alt="">
      <div class="form-control justify-content-center">
          <title>Enlace Caducado</title>     
          
          <p>El enlace para restablecer la contraseña a caducado, intente restablecer la contraseña nuevamente.
      </div>

    </div>
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}
