{% extends 'base_login.html' %}
{% load static %}
{% block content %}
    <title>Restablecer Contraseña</title>
    <div class="container ">
  <div class="row">
    <div class="col">
    </div>
    <div class="col form-control">
        <img src="{% static '/img/LOGOEPMAPAS.png' %}" class="rounded mx-auto d-block" width="200" height="200" alt="">
      <div class="form-control justify-content-center">
         <div class="card-header">
                        <h5 class="card-title">Restablecer Contraseña</h5>
                        <h6 class="card-group">¡Se Cambio la contraseña con exito!</h6>
            </div>
        
      </div>

    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}