{% extends 'base_login.html' %}
{% load static %}
{% block content %}

    <div class="container ">
        <div class="row">
            <div class="col">
            </div>
            <div class="col form-control">
                <img src="{% static '/img/LOGOEPMAPAS.png' %}" class="rounded mx-auto d-block" width="200" height="200"
                     alt="">
                <p></p>
                <div class="form-control justify-content-center">
                    <div class="card-header">
                        <h5 class="card-title">Restablecer Contraseña</h5>
                        <h6 class="card-group">¡Se le enviara a su correo Institucional el enlace para el cambio de
                            contraseña!</h6>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Correo Electrónico:</label>
                                {{ form.email }}
                            </div>
                            <div class="d-grid gap-2 d-md-block">
                                <button type="submit" id="showToastBtn" class="btn btn-success">Enviar</button>
                                <a class="btn btn-danger boton-lado" href={% url 'login1' %}> Cancelar </a>
                            </div>

                        </form>                        
                    </div>
                </div>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
 
{% endblock %}


