{% extends 'base_login.html' %}
{% load static %}
{% block content %}
    <title>Restablecer Contraseña</title>
    <div class="container ">
  <div class="row">
    <div class="col">
    </div>
    <div class="col form-control">
        <img src="{% static '/img/logo_principal_3.png' %}" class="rounded mx-auto d-block " style="" width="300" height="150" alt="">
      <div class="form-control justify-content-center">
         <h5>Restablecer Contraseña</h5>
        <form method="POST" class="form-control-plaintext justify-content-center">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex gap-3">
            <button type="submit" class="btn btn-success">Guardar Nueva Contraseña</button>
            <a class="btn btn-danger" href="{% url 'gestionar_perfil' %}">Cancelar</a>
        </div>
        </form>
      </div>

    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}



