
Restablecer Contraseña!
                  
Hola Usuario, {{ user.username }},

Recibiste este correo porque solicitaste un restablecimiento de contraseña para tu cuenta en EPMAPAS.
Por favor, sigue el siguiente enlace para restablecer tu contraseña:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" , Restablecer Contraseña
Si no solicitaste este restablecimiento, puedes ignorar este correo y tu contraseña seguirá siendo la misma.
¡Gracias!                         
                                         